<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assassins</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <center><h1>Assassins</h1></center>

    <form action="/create">
        <button>Create New Game</button>
    </form>

    <form action="/add_player">
        <button>Add Player</button>
    </form>

    <form action="/target_find">
        <button>Find your Target</button>
    </form>

    <form action="/start_game">
        <button>Start Game</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>